@model WikEasyUIMvc.TUser

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TUser</legend>

    <div class="display-label">UserName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">RealName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RealName)
    </div>

    <div class="display-label">UserPwd</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserPwd)
    </div>

    <div class="display-label">Role</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Role)
    </div>

    <div class="display-label">IsAdmin</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsAdmin)
    </div>

    <div class="display-label">Email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
